@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
logo{
  margin-left: 80px;
  position: relative;
  font-family: Inspiration;
  text-decoration: none;
  font-size: 30px;
  color: var(--titulo-color);
  font-weight: bold;
}
logo:after{
  content: ".";
  -webkit-text-fill-color: #5D3FD3;
  -webkit-text-stroke: 2px #5D3FD3;
}
.nav{
  margin: auto;
  display: flex;
  gap: 2rem;
  margin-left: 270px;
}
.nav .ul{
  margin: auto;
  gap: 30px;
  display: flex;
}
.nav .ul a{
  color: var(--titulo-color);
  font-weight: 600;
  border-bottom: solid 1.3px transparent;
}
.nav .ul a:hover{
  transition: 0.6s ease;
  border-bottom: solid 1.3px var(--titulo-color);
}