@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

@media only screen and (max-width: 620px){
  header .nav .ul{
    display: none;
  }
}
.header-container{
  box-shadow: var(--box-shadow) 0px 5px 20px; 
  background-color: var(--header-color);
  width: 100%;
  height: 60px; 
}
header{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
}
.header-wrap{
  display: flex;
  align-items: center;
  height: 60px;
}
logo{
  position: relative;
  font-family: Inspiration;
  text-decoration: none;
  font-size: 28px;
  color: var(--titulo-color);
  font-weight: bold;
}
logo:after{
  content: ".";
  -webkit-text-fill-color: #5D3FD3;
  -webkit-text-stroke: 2px #5D3FD3;
}
.nav{
  margin-left: auto;
  display: flex;
  gap: 2rem;
}
.nav .ul{
  margin: auto;
  gap: 30px;
  display: flex;
}
.nav .ul a{
  font-size: 15px;
  color: var(--titulo-color);
  font-weight: 600;
  border-bottom: solid 2px transparent;
}
.nav a.active {
  border-bottom: solid 2px #5D3FD3;
  color: #5D3FD3;
}
.nav .ul a:hover{
  transition: 0.7s ease;
  border-bottom: solid 2px #5D3FD3;
}