@media only screen and (max-width: 480px){
    #tecnologias{
        margin-left: 20px;
        margin-right: 20px;
    }
} 
.ling-banner{
    height: 460px;
    margin-left: 80px;
    margin-right: 80px;
}
.Ling-header h1{
    color: var(--titulo-color);
    margin-top: 50px;
    font-size: 14px;
}
.Ling-header h2{
    margin-top: 10px;   
    color: var(--titulo-color);
    font-size: 35px;
}
.Ling-header h2:after{
    content: " escolher?";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #5D3FD3;
}
.Ling-header p{
    color: var(--resumo-text);
    font-size: 15px;
    max-width: 500px;
}
.linguagens{
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    color: var(--resumo-text) ;
}
#JavaScript{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#TypeScript{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#React{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#Figma{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#NodeJs{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
.linguagens2{
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    color: var(--resumo-text);
}
#Python{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#Jquery{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#Tailwind{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#Git{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
#Java{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
}
