@media only screen and (max-width: 1000px){
    .container #sobre-container{
        display: flex;
        flex-direction: column;
    }
    .container #sobre-container .foto{
        width: 300px;
        height: 300px;
    }
    .container #sobre-container .img-back{
        width: 300px;
        height: 280px;
    }
    #sobre-container .sobre-text{
        margin-top: 10%;
    }
    .sobre-foto{
        margin: auto;
    }
}
@media only screen and (max-width: 1000px){
    .container #sobre-container{
        display: flex;
        flex-direction: column;
    }
}
#sobre-container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.container #sobre-container img{
    width: 450px;
    height: 450px;
    margin-left: 40px;
    position: absolute;
    border: solid 5px  var(--border-color);
}
#sobre-container .img-back{
    margin-top: 60px;
    width: 450px;
    height: 430px;
    background-color: #e5e7eb;
    border: solid 5px var(--border-color);
}
.sobre-text{
    margin-left: 7%;
}
.sobre-text h1{
    color: var(--titulo-color);
    margin-bottom: 20px;
    font-size: 30px;
}
.sobre-text p{
    color: var(--resumo-text);
    margin-bottom: 20px;
    font-size: 15px;
}
