.container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.container img{
    width: 450px;
    height: 450px;
    margin-left: 120px;
    position: absolute;
    border: solid 5px  var(--border-color);
}
.container .img-back{
    margin-top: 60px;
    margin-left: 80px;
    width: 450px;
    height: 430px;
    background-color: #e5e7eb;
    border: solid 5px var(--border-color);
}
.sobre-text{
    margin-right: 80px;
    margin-left: 200px;
}
.sobre-text h1{
    color: var(--titulo-color);
    margin-bottom: 20px;
    font-size: 30px;
}
.sobre-text p{
    color: var(--resumo-text);
    margin-bottom: 20px;
    font-size: 15px;
}
