#darkModeButton {
    margin-right: 80px;
    border: none;
    cursor: pointer;
    background: none;
}
#darkModeIcon{
    display: flex;
    width: 30px;
    height: 30px;
}
#lightModeIcon {
    display:none;
    width: 30px;
    height: 30px;
}